.app-wrapper {
  .login-wrapper {
    align-items: center;
    display: flex;
    margin-right: 15px;

    .input-group {
      flex: 5;
    }
  }

  .spacer {
    flex: 1;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #253646;
    color: white;
    font-weight: 600;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .content {
    display: flex;
    margin-right: 35px;
    margin-left: 35px;

    .main {
      margin-top: 60px;
      flex: 1;
    }

    .right-toolbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 60px);
      width: 35px;
      background-color: #ececec;
      position: fixed;
      overflow: hidden;
      right: 0px;
      top: 60px;
    }

    .left-toolbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 60px);
      width: 35px;
      background-color: #ececec;
      position: fixed;
      overflow: hidden;
      left: 0px;
      top: 60px;
    }

    .icon:hover {
      cursor: pointer;
      color: #47515a;
    }

    .cart-preview {
      position: fixed;
      right: 40px;
    }

    .cat-preview {
      position: fixed;
      left: 40px;
    }
  }
}
