<div class="app-wrapper">
  <div class="toolbar" role="banner">
    <a routerLink="/home">
      <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </a>
    <a routerLink="/home"><span>Web Shop</span></a>
    <div class="spacer"></div>
    <div class="login-wrapper">
      <div class="input-group mr-3">
        <input
          type="email"
          [(ngModel)]="email"
          class="form-control"
          placeholder="e-mail">
      </div>
      <div class="input-group mr-3">
        <input
          type="password"
          [(ngModel)]="password"
          class="form-control"
          placeholder="password">
      </div>
    </div>
    <div>
      <button
        class="btn btn-primary mr-3"
        *ngIf="isAuthenticated"
        (click)="onlogOut()">
        Logout
      </button>
      <button
        class="btn btn-primary mr-3"
        (click)="logIn()"
        *ngIf="!isAuthenticated">
        Log In
      </button>
      <button
        class="btn btn-primary"
        routerLink="/registration"
        *ngIf="!isAuthenticated">
        Register
      </button>
    </div>
  </div>
  <div class="content">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <div class="right-toolbar">
      <app-cart-preview class="cart-preview" *ngIf="showCart">
      </app-cart-preview>
      <fa-icon
        (click)="toggleCart()"
        class="icon m-2"
        [icon]="faCart"
        [size]="'1x'">
      </fa-icon>

      <a class="button" routerLink="/user" *ngIf="isAuthenticated">
        <fa-icon class="icon m-2" [icon]="faUser" [size]="'1x'"></fa-icon>
      </a>
    </div>
    <div class="left-toolbar">
      <app-categories class="cat-preview" *ngIf="showCat"></app-categories>
      <fa-icon
        (click)="toggleCat()"
        class="icon m-2"
        [icon]="faBars"
        [size]="'1x'">
      </fa-icon>
    </div>
  </div>
</div>
